BasedOnStyle: Microsoft

BraceWrapping :
    AfterControlStatement: Never
    AfterFunction: False
    AfterStruct: False
    AfterNamespace: False
    AfterClass: False
    AfterEnum: False
    BeforeElse: True

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false 
  AcrossComments: false

SortUsingDeclarations: true
