BasedOnStyle: Microsoft

BraceWrapping :
    AfterControlStatement: Never
    AfterFunction: False
    AfterStruct: False
    AfterNamespace: False
    AfterClass: False
    AfterEnum: False
    BeforeElse: True

AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakAfterReturnType: All